*{
    background-color: black;
    color: rgb(4, 7, 7);
    /* border:%; */
    text-align: center;
    /* display: flex; */
    size: 100vw;
    background-image: url(./IMG_20230120_162739.jpg);
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
}
.search-box{
    display:flex;
    justify-content: center;
    size: 100vw;


}
button{
    background-color: aliceblue;
    border-radius: 30px;
    color: black;
    font-weight: 600;
}
.weather-icon{
 size: 30px;


}
.weather-status-icon{
    font-size: x-large;
    height: 80px;
    width: 80px;
}